.platform{
    display:flex;
    flex-direction: column;
    gap:10px;
    min-height:100vh;
    padding: 10px 10px 20px ;
}
.platformSlider{
    display:flex;
    flex-direction:column;
    gap:10px;
}
.languageFiledWrapper{
    padding:2px 6px;
    border-radius: 5px;
}
.languageField{
    padding:6px 10px;
    border:none;
    outline:none;
    text-transform: capitalize;
}
.platformCodeEditor{
    flex:1;
}
.platformSidebarBtn{
    font-size:75%;
    font-weight:bold;
    padding:8px 15px;
    background-color: white;
    outline:none;
    border-radius:5px;
    cursor:pointer;
    transition: all 0.45s ease-in-out;
}
.platformSidebarBtn:hover{
    color: white;
    background-color: black;
}
.platformSidebarCopyBtn{
    background-color: #ffdd00;
    border:1px solid #ffdd00;
    color:white;
}
.platformSidebarCopyBtn:hover{
    color:black;
    background-color: white;
}
.platformSidebarUserWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}
.platformSidebarUsers{
    display:flex;
    flex-wrap: wrap;
    gap:10px;
}
.platformSidebarUsersEach{
    display:grid;
    justify-items: center;
}
.userAvatar{
    color:white;
    border-radius: 5px;
    min-width:30px;
    min-height:30px;
    padding: 5px;
    font-size: small;
    display:grid;
    place-items: center;
}
.userName{
    font-size: small;
    font-weight:bold;
}
@media screen and (min-width:991px){
    .platform{
        flex-direction: row;
    }
    .platformSidebar{
        flex:0.25;
    }
    .platformSidebar > *:nth-child(2){
        margin-top:auto;
    }
    .platformCodeEditor{
        flex:0.75;
    }
}